body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    margin: 0;
    text-align: center;
}

.header {
    background-image:url('./imagenes/header_background.jpeg');
    height: 90vh;
    padding: 80px 80px;
    margin: auto;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.video-container, .image {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.footer {
    padding: 20px;
    font-size: 14px;
    background: #111;
    color: #fff;
}
